AppBundle\Entity\Song:
  type: entity
  table: songs

  id:
    id:
      type: guid
      generator: { strategy: UUID }

  fields:
    url:
      type: string

    title:
      type: string

    thumb:
      type: string

  manyToOne:
    playlist:
      targetEntity: AppBundle\Entity\Playlist
      inversedBy: songs
      cascade: ["all"]